hw2/DeliverableDocuments/WSDL/bottom_up_generated/FlightTicketReservationPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://flight_reservation" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://flight_reservation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://flight_reservation" schemaLocation="../../Schemas/bottom_up_generated/FlightTicketReservationPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationException"/>
  </message>
  <message name="getItineraries">
    <part name="parameters" element="tns:getItineraries"/>
  </message>
  <message name="getItinerariesResponse">
    <part name="parameters" element="tns:getItinerariesResponse"/>
  </message>
  <message name="getAvailableTickets">
    <part name="parameters" element="tns:getAvailableTickets"/>
  </message>
  <message name="getAvailableTicketsResponse">
    <part name="parameters" element="tns:getAvailableTicketsResponse"/>
  </message>
  <message name="getPriceList">
    <part name="parameters" element="tns:getPriceList"/>
  </message>
  <message name="getPriceListResponse">
    <part name="parameters" element="tns:getPriceListResponse"/>
  </message>
  <message name="bookTickets">
    <part name="parameters" element="tns:bookTickets"/>
  </message>
  <message name="bookTicketsResponse">
    <part name="parameters" element="tns:bookTicketsResponse"/>
  </message>
  <message name="issueTickets">
    <part name="parameters" element="tns:issueTickets"/>
  </message>
  <message name="issueTicketsResponse">
    <part name="parameters" element="tns:issueTicketsResponse"/>
  </message>
  <portType name="FlightTicketReservationPortType">
    <operation name="login">
      <input ns1:Action="http://flight_reservation/FlightTicketReservationPortType/loginRequest" message="tns:login" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://flight_reservation/FlightTicketReservationPortType/loginResponse" message="tns:loginResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" ns3:Action="http://flight_reservation/FlightTicketReservationPortType/login/Fault/AuthorizationException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getItineraries">
      <input ns4:Action="http://flight_reservation/FlightTicketReservationPortType/getItinerariesRequest" message="tns:getItineraries" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://flight_reservation/FlightTicketReservationPortType/getItinerariesResponse" message="tns:getItinerariesResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" ns6:Action="http://flight_reservation/FlightTicketReservationPortType/getItineraries/Fault/AuthorizationException" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAvailableTickets">
      <input ns7:Action="http://flight_reservation/FlightTicketReservationPortType/getAvailableTicketsRequest" message="tns:getAvailableTickets" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://flight_reservation/FlightTicketReservationPortType/getAvailableTicketsResponse" message="tns:getAvailableTicketsResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" ns9:Action="http://flight_reservation/FlightTicketReservationPortType/getAvailableTickets/Fault/AuthorizationException" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPriceList">
      <input ns10:Action="http://flight_reservation/FlightTicketReservationPortType/getPriceListRequest" message="tns:getPriceList" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns11:Action="http://flight_reservation/FlightTicketReservationPortType/getPriceListResponse" message="tns:getPriceListResponse" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" ns12:Action="http://flight_reservation/FlightTicketReservationPortType/getPriceList/Fault/AuthorizationException" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="bookTickets">
      <input ns13:Action="http://flight_reservation/FlightTicketReservationPortType/bookTicketsRequest" message="tns:bookTickets" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://flight_reservation/FlightTicketReservationPortType/bookTicketsResponse" message="tns:bookTicketsResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" ns15:Action="http://flight_reservation/FlightTicketReservationPortType/bookTickets/Fault/AuthorizationException" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="issueTickets">
      <input ns16:Action="http://flight_reservation/FlightTicketReservationPortType/issueTicketsRequest" message="tns:issueTickets" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns17:Action="http://flight_reservation/FlightTicketReservationPortType/issueTicketsResponse" message="tns:issueTicketsResponse" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" ns18:Action="http://flight_reservation/FlightTicketReservationPortType/issueTickets/Fault/AuthorizationException" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

