hw2/DeliverableDocuments/WSDL/bottom_up_generated/FlightTicketReservationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://bottom_up.id2208.se.kth" name="FlightTicketReservationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://bottom_up.id2208.se.kth" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <import namespace="http://flight_reservation" location="FlightTicketReservationPortType.wsdl"/>
  <binding name="FlightTicketReservationServiceBinding" type="ns1:FlightTicketReservationPortType" xmlns:ns1="http://flight_reservation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getItineraries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPriceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="bookTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="issueTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FlightTicketReservationService">
    <port name="FlightTicketReservationService" binding="tns:FlightTicketReservationServiceBinding">
      <soap:address location="http://localhost:8080//services/kth/se/id2208/bottom_up/FlightTicketReservationService"/>
    </port>
  </service>
</definitions>

